/* Global style */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff00;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #d1d8e0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(91, 152, 95);
}

html,
body {
    background-color: #dfe6e9;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: "Commissioner", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    width: 100%;
}
#my_nav >.navigation
{
    /*margin-left: 8%;*/
    margin-top: 1.7%;
}

nav ul li {
    display: inline;
    color: white;
}

ul.navigation li {
    margin: 0 5px 0 0;
    text-transform: uppercase;
    font-weight: 100;
}

ul.navigation {
    width: 100%;
}

li.brand-nav{
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    padding-left: 1.5%;
}